* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white
}

.main-layout {
    width: 900px;
}

body.rtl {
    direction: rtl;
}

body.rtl .btn-delete {
    float: left;
}


/* FONTS */

@font-face {
    font-family: Nunito-bold;
    src: url(../fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: Nunito-regular;
    src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: Impact;
    src: url(../fonts/impact.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: VarelaRound;
    src: url(../fonts/VarelaRound-Regular.ttf);
}

.impact {
    font-family: Impact;
}

.roboto {
    font-family: Roboto;
}

.varela {
    font-family: VarelaRound;
}

.nunito {
    font-family: Nunito-regular;
}

.nunito-bold {
    font-family: Nunito-bold;
}


/* MAIN ITEMS */

canvas {
    display: block;
    margin: 10px;
    outline: 2px solid black;
    background-color: white;
}

h1 {
    font-family: Roboto;
    color: rgba(53, 150, 150, 0.637);
}

h5 {
    font-family: Roboto;
    color: rgba(34, 88, 88, 0.555);
}

a {
    text-decoration: none;
    color: black;
    font-family: Roboto;
}

.layout {
    display: flex;
    flex-direction: row-reverse;
}

.logo {
    width: 152px;
    height: 32px;
    justify-self: start;
}

.headline {
    font-weight: bold;
    margin-bottom: 10px;
}

.bar-options {
    display: flex;
    flex-direction: row-reverse;
    margin: 8px;
    font-family: Roboto;
}

#search {
    margin-bottom: 30px;
    border-color: rgb(165, 161, 159);
    width: 900px;
    height: 30px;
    border-radius: 25px;
}

button {
    margin: 4px;
    cursor: pointer;
    background-color: white;
}

button img {
    width: 12px;
    height: 12px;
}

.plus {
    font-size: 10px;
}

button.download {
    background-color: rgb(230, 154, 54);
    color: white;
    font-family: Roboto;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 200px;
    margin-left: 70px;
}

#txt {
    width: 240px;
    height: 35px;
    border-color: rgb(235, 126, 48)
}

input {
    margin: 4px;
}

header {
    background-color: white;
    margin-bottom: 40px;
    margin-top: 5px;
    font-family: Roboto;
}

header a {
    color: #989898;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.8px;
}

.editor {
    width: 900px;
}

.editor-options {
    background-color: #ebebeb96;
    width: 300px;
    height: 565px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.stikers {
    font-size: 35px;
    margin-top: 10px;
    border-style: solid 60px;
    cursor: pointer;
}


/* pics */

.opening-window {
    margin-bottom: 20px;
}

.images-gallery {
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 4px;
    cursor: pointer;
}

img {
    width: 100%;
}

.pic1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.pic2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.pic3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.pic4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.pic5 {
    grid-column: 5/6;
    grid-row: 1/2;
}

.pic6 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.pic7 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.pic8 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.pic9 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.pic10 {
    grid-column: 5/6;
    grid-row: 2/3;
}

.pic11 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.pic12 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.pic13 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.pic14 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.pic15 {
    grid-column: 5/6;
    grid-row: 3/4;
}

.pic16 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.pic17 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.pic18 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.about {
    text-align: center;
    font-size: 20px;
    color: chocolate;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
}


/* main nav */

.main-nav {
    flex: 1;
}

.main-nav a {
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: chocolate;
}


/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-items: center;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.column {
    flex-direction: column;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.flex.wrap {
    flex-wrap: wrap;
}


/* grid helpers */

.grid {
    display: grid;
}


/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* MOBILE ONLY */

@media (max-width: 580px) {
    .main-layout {
        width: 560px;
    }
    .layout {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .editor-options {
        width: 300px;
    }
    .canvas-container {
        width: 300px;
    }
    .main-nav a {
        text-decoration: none;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.63);
    }
    .btn-menu-toggle {
        max-height: 10vh;
    }
    button.download {
        margin-top: 50px;
    }
    header {
        height: 50px;
    }
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        min-width: 250px;
        background-color: rgb(255 255 255 / 90%);
        height: 100vh;
        box-shadow: 0px 0px 0px transparent;
        transform: translateX(100%);
        transition: transform .6s;
        text-align: center;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -8px 0px 20px rgb(0 0 0 / 20%);
    }
    .main-nav a {
        display: block;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #e7e7e7;
    }
    .opening-window {
        max-width: 500px;
    }
    .editor {
        max-width: 500px;
    }
    .screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* display: none; */
        background-color: rgb(0 0 0 / 50%);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6s;
    }
    body.menu-open .screen {
        /* display: block; */
        opacity: 1;
        pointer-events: auto;
    }
    /* Images */
    .images-gallery {
        /* width: 100%; */
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(7, 1fr); */
        gap: 4px;
        cursor: pointer;
    }
    img {
        width: 100%;
    }
    .pic1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .pic2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .pic3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .pic4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .pic5 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .pic6 {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .pic7 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .pic8 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .pic9 {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .pic10 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .pic11 {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .pic12 {
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .pic13 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .pic14 {
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .pic15 {
        grid-column: 3/4;
        grid-row: 5/6;
    }
    .pic16 {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .pic17 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .pic18 {
        grid-column: 3/4;
        grid-row: 6/7;
    }
}


/* MEDUME */

@media (min-width: 580px) {
    main {
        margin-inline-start: 161px;
        margin-inline-end: 159px;
        max-width: 780px;
    }
    .logo1 {
        margin-left: 1.45rem;
    }
    nav a {
        width: 130px;
        height: 130px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .main-layout {
        width: 560px;
    }
    .layout {
        justify-content: center;
        align-items: center;
    }
    .btn-menu-toggle {
        display: none;
    }
    li {
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: 20px;
    }
}


/* REGULAR */

@media (min-width: 1100px) {
    main {
        margin-inline-start: 261px;
        margin-inline-end: 259px;
    }
    .main-layout {
        width: 900px;
    }
    nav a {
        width: 130px;
        height: 130px;
    }
    .screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* display: none; */
        background-color: rgb(0 0 0 / 50%);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6s;
    }
    .canvas-container {
        width: 625px;
    }
    li {
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: 20px;
    }
}